*, *::after, *::before {
  box-sizing: border-box;
}

  body {
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #22283f; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h2 {
    font-family: "futura-pt-condensed",sans-serif;  	
  	font-weight: 800;
  	text-transform: uppercase;
  	font-size: 500%;
  	margin-bottom: 44px;
	text-align: left;
  }

  h2:after {
  	content: "";
  	height: 30px;
  	display: block;
    background: transparent url('../img/zig-zag.svg') no-repeat top left; 
    margin-top: 44px;
  }

  .description {
  	display: block;
  	margin-bottom: 78px;
    font-size: 150%;
    letter-spacing: 2px;
    max-width: 534px;	
  }

  .button {
    font-family: "futura-pt-condensed",sans-serif;  
  	display: inline-block;
    padding: 30px 50px 30px 78px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 130%;
    background:  #4b26e6 url('../img/ico-button-arrow.svg') no-repeat left 30px center; 
	max-width: 90%;
  }


.section {
    position: relative;
    overflow: hidden;
}

.section .content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-45%, -50%);
    width: 90%;
	z-index: 1;
}


  /* INTRO */
  #intro {
    background: #fff url('../img/pattern.jpg') repeat top left;
    z-index: 1;  
  }

  #intro .intro-title {
    left: 0;
    position: absolute;
    top: 20%;
  }
  
  #intro h1 {
	background: #d9017c; /* Old browsers */
	background: -moz-linear-gradient(left,  #d9017c 0%, #e1452c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #d9017c 0%,#e1452c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #d9017c 0%,#e1452c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9017c', endColorstr='#e1452c',GradientType=1 ); /* IE6-9 */
	color: #fff;
    float: left;
    font-size: 450%;
    margin: 0;
    padding: 30px;
    text-transform: uppercase;
    font-family: "futura-pt-condensed",sans-serif;  
	font-weight: 800;	
  }
  
  #intro span {
    background: #fff none repeat scroll 0 0;
    color: #001dd0;
    float: left;
    font-size: 200%;
    font-weight: 600;
    padding: 34.65px 20px;
    text-transform: uppercase;
    font-family: "futura-pt-condensed",sans-serif;  	
  }
  
  #intro .letter {
	position: absolute;
	z-index: -1;
  }
  
  .letter.d {
    left: 0;
    top: 50px;
  }
  
  .letter.r {
    left: 37%;
    top: 0;
  }
  
  .letter.u {
    right: 0;
    top: 0;
  }
  
  .letter.p {
    bottom: 0;
    left: 15%;
  }
  
  .letter.al {
    bottom: 0;
    right: 15%;
  }
  
  .arrow {
    bottom: 10%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
  }


  /* slogan */
  #slogan {
    color: #fff;
    background: #4b26e6;
  }
  
  #slogan .ico {
	  position: absolute;
  }
  
  .ico.thunder {
      right: 15%;
      top: 5%;
  }
  
  .ico.saturn {
      right: 45%;
      top: 15%;
  }
  
  .ico.cloud {
      right: 15%;
      top: 35%;
  }
  
  .ico.drop {
      right: 30%;
      top: 45%;
  }
  
  .ico.computer {
      right: 22%;
      top: 65%;
  }
  
  .ico.mobile {
      right: 50%;
      top: 75%;
  }
 
  .count {
    display: inline-block;
  }

  .countdown div {
    overflow: hidden;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
	margin-right: 20px;
  }

  .countdown div span {
    color: #9e87f9;
    display: block;
	font-size: 150%;
    font-family: "futura-pt-condensed",sans-serif;  	
  }

  
  /* sponsor */
  #sponsor {
    color: #4b26e6;    
    background:  #fff;
  }
  
  #sponsor .circle {
    position: absolute;
    right: -25%;
    top: -53%;
  }
  
 
  /* community */
  #community {
    background: #fff url('../img/community.jpg') no-repeat center center;
    background-size: cover;	     
  }
  
  #community h2 {
	color: #dd2d75;
  }
  
  #community .description p {
	color: #4b26e6;
  }

  
  /* newsletter */
  #newsletter {
      color: #fff;
      background-color: #dd2d75;
  }
  
  #newsletter h2:after {
	  background: transparent url("../img/zig-zag-blue.svg") no-repeat scroll left top;
  }
  
  #newsletter .ico {
	  position: absolute;
  }
  
  .ico.code {
      right: 15%;
      top: 20%;
  }
  
  .ico.diamond {
      right: 40%;
      top: 30%;
  }
  
  .ico.taxonomy {
      right: 27%;
      top: 45%;
  }
  
  .ico.newsletter {
      right: 50%;
      top: 65%;
  }
  
  .ico.mouse {
      right: 22%;
      top: 75%;
  }
  
  #newsletter h3 {
      font-weight: bold;
      text-transform: uppercase;
	  margin-bottom: 15px;
  }
  
  #newsletter form {
      max-width: 530px;
      width: 90%;
  }
  
  #newsletter input.email {
      border: medium none;
      float: left;
      font-size: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0 0 0 10px;
	  width: 75%;
      color: #dc2e76;
}

#newsletter input.button {
    background: #a82358 none repeat scroll 0 0;
    border: medium none;
    font-size: 110%;
    height: 50px;
    letter-spacing: 0;
    line-height: 50px;
    padding: 0;
	width: 25%;
}

#newsletter span.subtitle {
	color: #fa92b7;
    margin-top: 15px;
	display: block;
}
  

  /* footer */
  #footer {
   text-align: center;
  }
  
  #footer {
    background-color: #fff;	
  }
  
  #footer.cd-section .content {
    transform: translate(-50%, -50%);
  }
  
  #footer span {
	  color: #b3b3b3;
	  display: block;
	  text-transform: uppercase;
	  margin-bottom: 50px;
  }
  
  #footer a.aed {
      background: transparent url("../img/aed.png") no-repeat scroll center center;
	  display: block;
	  height: 100px;
	  margin: 0 auto 100px;
	  text-indent: -9000px;
	  width: 218px;
  }
  
  #footer .rrss a {
      display: inline-block;
      margin: 0 2%;
	  color: #b3b3b3;
	  text-transform: uppercase;
	  font-size: 120%;
	  text-decoration: none;
	  line-height: 38px;
	  height: 38px;
	  padding-left: 45px;
  }
  
    #footer .rrss a.contact {
	    background: transparent url("../img/contacto.svg") no-repeat scroll left center;
    }
	
    #footer .rrss a.facebook {
	    background: transparent url("../img/facebook.svg") no-repeat scroll left center;
    }
	
    #footer .rrss a.twitter {
	    background: transparent url("../img/twitter.svg") no-repeat scroll left center;

    }
	
  #footer .pattern {
    background: url('../img/pattern.jpg') repeat bottom left;  
    bottom: 0;
    height: 85px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;      
 }	
  
  













/* MEDIA QUERIES */
 @media only screen and (max-width: 550px) {

	 #intro .letter {
		 display: none;
	 } 
	 
	 #intro .letter.d {
		 display: block;
	 } 
	 
	 #intro h1 {
		 width: 90%;
		 font-size: 300%;
	 }  
	 
	 #intro span {
		  font-size: 150%;
		  padding: 27.65px 20px;

	 } 
	 
	 h2 {
		 font-size: 400%;
	 }
	 
	 #footer .rrss {
	     margin: 0 auto;
	     max-width: 150px;
	     text-align: left;
	 }
	 
	 #footer .rrss a {
		 margin: 0 0 8%;
	 }
	 
	 .section .content {
	     transform: translate(-50%, -50%);
	 }
	 
	 #slogan .ico {
	     opacity: 0.5;
	     width: 8%;
	 }

 }


